/.idea
/Assignment10_Bitwise_operator.py
/Assignment11_BitMask.py
/Assignment12_Boolean_variable.py
/Assignment13_String_methods.py
/Assignment14_List.py
/Assignment15_List_separation.py
/Assignment16_List_sort.py
/Assignment17_List_duplicateEle.py
/Assignment18_List.py
/Assignment19_List_count.py
/Assignment1_Input_Output.py
/Assignment20_List.py
/Assignment21_whileloop_table.py
/Assignment22.25_Factorial.py
/Assignment23_sum.py
/Assignment24_Forloop_table.py
/Assignment26_SumofDigits.py
/Assignment27_Average.py
/Assignment28_printPattern.py
/Assignment29_PrintPattern.py
/Assignment2_Arithmatic_Operators.py
/Assignment30_tuple.py
/Assignment31_tuple_commonEle.py
/Assignment32_vowelConsonant.py
/Assignment33_reverseList.py
/Assignment34_math.py
/Assignment35_createList.py
/Assignment36_CreateDictionary.py
/Assignment37_Dictionary.py
/Assignment38_Dictionary_Forloop.py
/Assignment39_Number2Words.py
/Assignment3_Math.py
/Assignment4_MathModule.py
/Assignment5_Math_Ceil_Floor.py
/Assignment6_MathFunction.py
/Assignment7_if_elif_else.py
/Assignment8_Comparison_Operators.py
/Assignment9_If_Else.py
/demo.py
/hello.py
/practice.py